.midi-btn {
  height: 1.5rem;
  width: 1.5rem;
  margin: 2px;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  cursor: pointer;
  background: yellow;
}

.midi-btn:hover {
  opacity: 0.8;
}

.midi-btn-pressed {
  background: rgb(155, 10, 155);
}