.midi-btn {
  height: 1.5rem;
  width: 1.5rem;
  margin: 2px;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  cursor: pointer;
  background: yellow;
}

.midi-btn-pressed {
  background: rgb(155, 10, 155);
}

.midi-btn-outside {
  background: #99D2F0;
}

.midi-btn-outside.midi-btn-pressed {
  background: #0B5EBA;
}
.midi-btn-disabled {
  background: #B5A641;
  cursor: not-allowed;
}

.midi-btn-undisabled:hover {
  opacity: 0.8;
}